* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
list-style: none;
scroll-behavior: smooth;
}

:root{
  --bg-color: #2a2a2a;
  --second-bg-color: #202020;
  --text-color: #fff;
  --second-color: #ccc;
  --main-color: #1eff00;
  --big-font: 5rem;
  --h2-font: 3rem;
  --p-font: 1.1rem;
}


html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background: rgb(28, 28, 28);
  color: var(--text-color);
}
 

#header {
  width: 100%;
  height: 100vh;
  background-image: url(images/background.png);
  background-size: cover;
  background-position: center;
}
.container {
  padding: 10px 10%;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.logo{
  color: white;
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  }
  /* ------------------------------------- */
  
/* ------------------------------------ */
.slide{
  margin-bottom: 20px;
}

.header-text .one{
  display: inline-block;
  margin-right: 15px;
  height: 32px;
padding: 0 15px;
line-height: 32px;
font-size: 20px;
font-weight: 500;
border-radius: 5px;
background: var(--main-color);
color: var(--text-color);

}

.header-text .two{
  display: inline-block;
font-size: 20px;
font-weight: 500;
color: var(--text-color);

}
/* ----------------------------------- */

/* ----------------------------------------------------- */
.header-text .btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: transparent;
  border-radius: 4rem;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
}

.header-text .button{
  display: inline-flex;
  align-items: center;


}

.header-text .btn{
display: inline-block;
padding: 12px 28px;
background: var(--main-color);
border-radius: 5px;
color: var(--text-color);
font-size: 1rem;
letter-spacing: 1px;
font-weight: 600;
transition: all .45s ease;

}

.header-text .btn:hover{
  transform: scale(0.9);
}

.header-text .btn2{
  display: inline-flex;
  align-items: center;
justify-content: center;
color: white;
font-weight: 600;
font-size: 15px;
margin-left: 35px;
text-decoration: none;
}

.btn2 span i{
height: 20px;
width: 20px;
color: var(--main-color);
display: flex;
align-items: center;
justify-content: center;
font-size: 25px;
margin-right: 15px;
transition: all .45s ease;
}


.header-text .btn2 span i:hover{

transform: scale(1.1) translateY(5px);
}

/* -------------------------------------------- */
.header-text .social-media{

  margin-top: -50px;
}

.header-text .social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.5s ease;
}

.header-text .social-media a:hover {
  background: var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
}
  
  /* ---------------------------------- */
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 18px;
  position: relative;
  transition: 0.3s ease;
}
nav ul li a:hover {
  color: var(--text-color);
  text-decoration: none;
  font-size: 18px;
  position: relative;
  
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: var(--main-color);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
nav ul li a:hover::after {
  width: 100%;
}

.header-text {
  margin-top: 20%;
  font-size: 30px;
}
.header-text h1 {
  font-size: 60px;
  margin-top: 33px;
}

.header-text h4.aga {
  position: relative;
 top: 32px;
}


.header-text span {
  color: var(--main-color);
}

/* -----------------SOCIAL MEDIA---------------- */
.social-icons {
  margin-top: 30px;
}
.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}
.social-icons a:hover {
  color: var(--main-color);
  transform: translateY(-5px);
}


/* ----------------------------------------------- */
#about {
  padding: 200px 0;
  color: var(--text-color);
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 35%;
  width: 150%;
  margin-bottom: 40px;
  height: 40%;
  border-radius: 20px;
}

.about-col-1 img {
  width: 100%;
  height: 100%;
  border-radius: 55px;
  margin-left: -100px;
  margin-top: -100px;
}
.about-col-2 {
  flex-basis: 50%;
}
.sub-title {
  font-size: 50px;
  font-weight: 600;
  color: #fff;
}


.tab-title h2{
  font-size: 20px;
  line-height: 1;
}

.tab-title h4{
  font-size:30px;
  font-weight: 600;
  color: var(--text-color);
  line-height: 1.5;
  margin: 15px 0 30px;
  
  }

  .tab-title p{
    line-height: 1.8;
    margin-bottom: 4rem;
    font-size: var(--p-font);
    color: white;
    }

    #botn{
margin-right: 400px;
margin-top: -100px;
margin-left: 120px;
    }


    /* ---------------------------------------- */

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: var(--main-color);
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.tab-links.active-links::after {
  width: 50%;
}
.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}
.tab-contents ul li span {
  color: var(--main-color);
  font-size: 14px;
}
.tab-contents {
  display: none;
}
.tab-contents.active-tab {
  display: block;
}

/* <!-- ------------------SERVICES------------------ --> */
#services {
  padding: 50px 0;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 50px;
  margin-top: 50px;
}
.services-list div {
  background: #262626;
  padding: 80px;
  font-size: 15px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}
.services-list div i {
  font-size: 70px;
  margin-bottom: 50px;
}
.services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.services-list div a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}
.services-list div:hover {
  background: var(--main-color);
  transform: translateY(-10px);
}

/* <!-- ------------------portfolio------------------ --> */


/* _____________________________________________________________ */
#portfolio {
  padding: 50px 0;
}
.work-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  margin-top: 50px;
}
.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.work img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}
.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(transparent, #11ff00);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}
.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
}
.layer a {
  margin-top: 15px;
  color: var(--main-color);
  text-decoration: none;
  font-size: 17px;
  line-height: 45px;
  background: #fff;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  text-align: center;
}

.work:hover img {
  transform: scale(1.1);
}
.work:hover .layer {
  height: 100%;
}
.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid var(--main-color);
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: var(--text-color);
  transition: 0.5s;
}

.btn:hover {
  background: var(--main-color);
  box-shadow: 0 0 1rem var(--main-color);
}

/* -----------------CONTACT----------------------- */

.contact-left {
  flex-basis: 35%;
}
.contact-right {
  flex-basis: 60%;
}

.contact-left p {
  margin-top: 30px;
}
.contact-left p i {
  color: var(--main-color);
  margin-right: 15px;
  font-size: 25px;
}

.contact-right form {
  width: 100%;
}
form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 25px;
  margin: 15px 0;
  color: var(--main-color);
  font-size: 18px;
  border-radius: 6px;
  transition: transform 0.5s;
}
form .btn2 {
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
  background: transparent;
}
.btn.btn2 {
  transition: 0.3s;
}
.btn.btn2:hover {
  box-shadow: 0 0 1rem var(--main-color);
}

.copyright {
  width: 100%;
  margin-bottom: 100%;
  text-align: center;
  padding: 25px 0;
  background: #262626;
  font-weight: 300;
  margin-top: 20px;
}
.copyright i {
  color: var(--main-color);
}

/* --------------css for mobile----------------- */
nav .fa-solid {
  display: none;
}

@media only screen and (max-width: 600px) {
  .logo {
    width: 60px;
  }
 
  #header {
    background-image: url(images/phone-background.png);
  }
  .header-text {
    margin-top: 100%;
    font-size: 15px;
  }
  .header-text h1 {
    font-size: 30px;
  }
  nav .fa-solid {
    display: block;
  }
  nav ul {
    background: var(--main-color);
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }
  nav ul li {
    display: block;
    margin: 25px;
  }
  nav ul .fa-solid {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }

  /* ---------------------------about-------------------- */
  .container .work-list{
    width: 350px;
  margin-left: auto;
  margin-right: auto;  
  row-gap: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  
  .about-col-2 {
    flex-basis: 60%;
  }
  .sub-title {
    font-size: 25px;
    font-weight: 600;
    color: #fff;
  }
  
  
  .tab-title h2{
    font-size: var(--h2-font);
    line-height: 1;
  }
  
  .tab-title h4{
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color);
    line-height: 1.5;
    margin: 15px 0 30px;
    
    }
  
    .tab-title p{
      line-height: 1.8;
      margin-bottom: 4rem;
      font-size: var(--p-font);
      color: white;
      text-align: left;
      }
  
      #botn{
  margin-right: auto;
  margin-left: auto;
  margin-top: -100px;
  
      }

  /* --------------image------------- */
  .sub-title {
    font-size: 40px;
  }
  .about-col-1,
  .about-col-2 {
    flex-basis: 140%;
  }
  .about-col-1 {
    margin-bottom: 30px;
    margin-left: 100px;
    width:100px;
  }
  .about-col-1 img{
    border-radius: 0;
    width: 80%;
  }

  .about-col-2 {
    font-size: 14px;
  }
  .tab-links {
    font-size: 16px;
    margin-right: 20px;
  }
  .contact-left,
  .contact-right {
    flex-basis: 100%;
  }
  .copyright {
    font-size: 14px;
  }
}

#msg {
  color: var(--main-color);
  margin-top: -40px;
  display: block;
}

/* -----------------footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
}

.footer-text a {
  font-size: 1.6rem;
}

.footer-text p {
  text-align: center;
}

.footer-text a i {
  color: var(--main-color);
}

.footer-icon a {
  display: inline-flex;
  text-decoration-line: none;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background: var(--main-color);
  border-radius: 0.8rem;
  transition: 0.5s;
}

.footer-icon a:hover {
  box-shadow: 0 0 1rem var(--main-color);
}


@media (max-width: 991px) {
  .footer {
    padding: 2rem 3%;

    .logo {
      width: 90px;

    }


    .about-col-1 {
      width:200px;
    }

    .about-col-1 img.img1 {
      width:300px;
    }
  }
}


@media (max-width: 700px) {
  .about-col-1 img.img1 {
    width:400px;
  }
  }





@media (max-width: 365px) {
  .footer {
    flex-direction: column-reverse;
  }
  .footer p {
    text-align: center;
    margin-top: 2rem;
  }

  .logo {
    width: 30px;
  }

  .about-col-1 img.img1 {
    margin-left: -250px;
  }
  #header{
    width: 100%;
    margin-right: 200px;
    background-size: cover;
  background-position: center;
  }
}

@media (max-width: 450px){
  #header{
    width: 100%;
    background-size: cover;
  background-position: center;
  }
  .about-col-1 img.img1{
    margin-left: -131px;
  }
}


.footer-icon a i {
  font-size: 1rem;
  color: azure;
  text-decoration-line: none;
}

/* span---------------- */

.colors {
  color: var(--main-color);
}

.footer-text i {
  cursor: pointer;
}

.about-col-1 {
  width:150px;
}

@media (max-width:360px) {
.about-col-1 img.img1{
  margin-left: -134px;
}
} 


    @media (max-width:400px) {
      .about-col-1 img.img1{
        width: 390px;
        margin-left: 3850;
      }

      }

      @media (max-width:320px) {
        .about-col-1 img.img1{
          margin-left: -162px;
}

        }
